.requests{
    max-width: 1070px;
    padding: 0 30px;
    margin: 0 auto;
  }
.requests__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    margin-top: 40px;
}
.requests__container{
    margin-top: 40px;
}
.requests__name{
    position: relative;
    height: 47px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    padding: 0 20px;
}
.requests__buttons{
    background-color: #f1f1f1;
    position: absolute;
    right: 0;
}
.requests__buttons > button {
    background-color: white;
}
.requests__buttons > button:nth-child(3){
    color:red
}
.requests__buttons > button:nth-child(1){
    color:green
}
@media (max-width: 500px){
    .requests__name{
        height: 100px;
    }
    .requests__buttons{
        display: flex;
        flex-direction: column;
    }
}