{
    "extends": [
      "react-app",
      "prettier"
    ],
    "rules": {
      "prettier/prettier": ["error", {
        "endOfLine":"auto"
      }],
      "jsx-quotes": [
        1,
        "prefer-double"
      ]
    },
    "plugins": [
      "prettier"
    ]
  }