.search-title{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 40px;
}
.container-search{
  padding: 0 15px
}
.search-input{
  display: block;
    margin: 0 auto;
    max-width: 686px;
    padding-top: 220px
}
.search-input-complete{
  display: block;
  margin: 0 auto;
  padding-top: 0;
  max-width: 1070px;
}
.container-search-complete{
  max-width: 1070px,
}
.container-search-complete-opacity{
  -webkit-filter: blur(8px);
  -ms-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  filter: blur(8px);
  opacity: 0.6;
}
.search-title-complete{
  text-align: left;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 52px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.ant-input-affix-wrapper-lg{
    padding: 4px 11px
}
.gutter-box {
    padding: 8px 0;
    background: #00a0e9;
  }
.filter-panel{
margin-top: 20px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
position: relative
}
@media (max-width: 320px){
  .filter-panel{
    font-size: 12px;
  }
}
.filter-panel-request{
  font-weight: bold;
  margin-left: 10px;
}
.filter-panel-request-count{
  font-size: 16px;
  line-height: 24px;
  color: rgba(23, 23, 25, 0.3);
  margin-left: 10px;
}
@media (max-width: 320px){
  .filter-panel-request-count{
    font-size: 12px;
  }
}
.grid-list {
  position: absolute;
  right: 40px;

}
.grid {
  position: absolute;
    right: 0;
 
}
.grid-content{
  margin-top:30px
}
.cards-list{
  margin-bottom: 10px;
  background-color: rgba(250, 250, 250, 1);
}
.cards-list:first-child{
  margin-top: 10px;
}
.cards-grid{
  height: 260px;
  background-color: rgba(250, 250, 250, 1);
}
@media (max-width: 780px){
  .cards-grid{
    height: 290px;
  }
}
@media (max-width: 376px){
  .cards-grid{
    height: 230px;
  }
}
@media (max-width: 300px){
  .cards-grid{
    height: 250px;
  }
}
.cards-grid:first-child{
  margin-top: 20px;
}
.ant-card-meta-description{
  white-space: pre-line
}
.ant-card-meta-title{
  white-space: normal;
}
.ant-card-meta-detail > div:not(:last-child){
  font-size: 14px
}
.loading{
  margin-top: 100px;
  text-align: center;
}
.loading-icon{
  font-size: 100px;
  color: #1890ff
}
.modal-window{
  position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110vh;
    opacity: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon .ant-input-search-button {
  border-radius: 0 2px 2px 0;
  width: 150px;
}
@media (max-width: 450px){
  .ant-input-search > .ant-input-group > .ant-input-group-addon .ant-input-search-button{
    width: 100px;
  }
}
.ant-card-meta-avatar{
  padding-top: 5px;
}