.modal{
    position: fixed;
    padding: 36px 40px;
    background-color: white;
    box-shadow: 3px 3px 15px 0 rgba(31, 54, 80, 0.1);
}
@media (max-width: 600px){
    .modal{
        width: 300px;
        padding: 25px 35px;
        font-size: 14;
    }
}
.modal__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.modal__buttons__item{
    width: 210px;
}
.modal__buttons{
    display: flex;
}

.buttons{
    width: 100%;
}
.modal__buttons__item:first-child{
    margin-right: 10px;
}
.modal .ant-form-vertical .ant-form-item-label > label{
    color:black;
}
@media (max-width: 600px) {
.ant-form-item .ant-form-item-label > label {
    font-size: 12px;
}
}
  .input__number{
    margin-top: 25px;
    margin-left: 15px;
  }
  @media (max-width: 600px){
      .input__number{
          margin-top: 49px;
      }
  }